* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  color: #1e293b;
  -webkit-font-smoothing: antialiased;
  font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
}
#app {
  width: 100vw;
  height: 100vh;
}
